﻿#globalheader {
    background-color: black;
    background-image: url('../Images/Background/background4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

nav {
    background-color: black;
}

#GridContainer {
    position: absolute;
    left: 50%;
    top: 50%;
}

.Selected {
    background-image: url('../Images/hoover.png');
    opacity: 1 !important;
}

.Hoover {
    opacity: 0.8 !important;
}

.block {
    opacity: 0.45;
    position: absolute;
    cursor: pointer;
    background-color: #848484;
    border-radius: 10px;
}

.editMode {
    background-color: aqua !important;
}
